body {
margin: 0;
font: 15px/1.5 Georgia, 'Times New Roman', Times, serif;
background: #f0f0f0;
}
.container {
width: 100%;
margin: 0 auto;

}
header {
background: #739FE1;
}

header .menu-btn {
display: none;
}

header::after {
content: '';
display: table;
clear: both;
}

.logo {
float: left;
margin-left: 20px;
width: 6%;
}

nav {
float: right;
}

nav ul {
margin-top: 30px;
padding: 0;
list-style: none;
}

nav li {
display: inline;
margin-left: 0px;
padding-top: 40px;
padding-right: 20px;
}

nav a {
color: #FFFFFF;
text-decoration: none;
font-size: 16px;
margin-right: 10px;
}

nav a:hover{
color: teal;
} 

li {
list-style: none;
font-size: bold;
}

section .box{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 50%;
}
.main{
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 40px;
    padding: 20px;
}

#darkgray{
    padding: 15px;
    margin-top: 0px;
    background: #7e7979;
    border: 0;
    border: 5px solid #739FE1;
    border-radius: 10px;
}

.inputs {
    float: left;
    width: 20%;
    margin-top: 4px;
}

.require {
    float: left;
    width: 90%;
    margin-top: 4px;
}
.quote {
    padding-top: 15px;
}

/* Clear floats after the columns */
.quote:after {
    content: "";
    display: table;
    clear: both;
}

input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    background-color: #739FE1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}



footer {
    position: fixed;
    bottom: 0%;
    background: #739FE1;
    text-align: left;
    width: 100%;
    float: left;
    height: 5%;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}
footer li {
    display: inline-block;
    padding: 0 10px 0 10px;
}

@media only screen and (max-device-width: 468px) {

    .container{
        width: 100%;
    }

    header nav a {
        font-size: 12px;
        margin-right: 2px;

    }

    header nav li {
        padding: 0 2px 0 2px;
    }

    header #logo img {
        height: auto;
        width: 50px;
    }

    header nav img {
        width: 15px;
    }

    section .box {
        width: 90%;
    }

    section .main {
        width: 95%;
    }

    section h1 {
        font-size: 36px;
    }

    .inputs {
        float: center;
        width: 95%;
        margin-top: 6px;

        }
        
        .require {
        float: left;
        width: 95%;
        margin-top: 6px;
        }
        .quote .require {
        width: 95%;
        }

        .quote:after {
        content: "";
        display: table;
        clear: both;
        }
        
        input[type=email], select {
        width: 100%;
        font-size: 32px;
        resize: vertical;
        }

        input[type=password], select {
            font-size: 32px;
        }
        
        input[type=submit] {
        width: auto;
        float: left;
        }
    button {
        font-size: 32px;
    }

    footer li {
        margin-top: 15px;
    }

    footer a {
        font-size: 12px;

    }
}

@media screen and (min-width: 769px)  and (max-width: 1024px) {

    .container{
        width: 100%;
    }


    header {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0px;
        height: 15%;

    }
    header nav a {
        font-size: 12px;
        margin-right: auto;

    }

    header nav li {
        padding: 0 4px 0 4px;
    }

    header #logo img {
        height: auto;
        width: 50px;
    }

    header nav img {
        width: 15px;
    }


    .inputs {
        float: left;
        width: 40%;
        margin-top: 6px;
        }
        
        .require {
        float: left;
        width: 90%;
        margin-top: 6px;
        }
        
        .quote:after {
        content: "";
        display: table;
        width: 100%;
        }
        
        #darkgray{
        height: auto;
        width: 100%;
        }
    footer {

        padding: 0;
        margin-top: 2%;
        height: 5%;
    }

    footer a {
        font-size: 12px;

    }
}

@media only screen and (min-device-width : 469px) and (max-device-width : 768px){
    .container{
        width: 100%;
    }


    header {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0px;
        height: 10%;
    }


    header nav a {
        font-size: 12px;
        margin-right: auto;

    }

    header nav li {
        
        padding: 0 4px 0 4px;
    }

    header #logo img {
        height: auto;
        width: 50px;
    }

    header nav img {
        width: 15px;
    }

    section .box {
        width: 60%;
    }

    section h1 {
        font-size: 28px;
    }

    input[type=email], select {
        width: 100%;
        font-size: 24px;
        resize: vertical;
        }

        input[type=password], select {
            font-size: 24px;
        }
        
        input[type=submit] {
        width: auto;
        float: left;
        }
    button {
        font-size: 20px;
    }

    footer {

        padding: 0;
        margin-top: 2%;
        height: 3%;
    }

    footer a {
        font-size: 12px;

    }
}