body {
    margin: 0;
    font: 15px/1.5 Georgia, 'Times New Roman', Times, serif;
    background: #f0f0f0;
}
.container {
    width: 100%;
    margin: 0 auto;

}
header {
    background: #739FE1;
}

header .menu-btn {
    display: none;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin-left: 20px;
    width: 6%;
}

nav {
    float: right;
}

nav ul {
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin-left: 0px;
    padding-top: 40px;
    padding-right: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}

nav a:hover{
    color: teal;
} 

li {
    list-style: none;
    font-size: bold;
}

form {
    width: 80%;
}

.admin-content {
    width: 85%;
    height: 80%;
    padding: 20px 60px
}
.content {
    width: 95%;
    height: 30%;
}


.admin-content .page-title {
    text-align: left;
    margin-bottom: 50px;
    margin-top: 5px;
}

.admin-content .button {
    background-color: #739FE1;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 10px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    list-style: none;
}

.admin-content .button .quote:after {
    content: "";
    display: table-column;
    clear: both;
    text-decoration: none;
    list-style: none;
  }

  .content button {
    background-color: #739FE1;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 10px;
    margin-left: 0;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    list-style: none;
}

.content button .quote:after {
    content: "";
    display: table-column;
    clear: both;
    text-decoration: none;
    list-style: none;
}
input[type=text], select, textarea {
    width: 80%;
    height: 4vh;
    padding: 5px;
    padding-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

textarea {
    width: 80%;
    height: 35vh;
    padding: 5px;
    padding-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=file] {
    width: 80%;
    margin-top: 15px;
    padding-right: auto;
    border-radius: 4px;
    resize: vertical;
  }

footer {

    position: fixed;
    bottom: 0%;
    background: #739FE1;
    text-align: left;
    width: 100%;
    float: left;
    height: 5%;
}

footer li {
    float: left;
    display: inline;
    margin-left: 0px;
    padding: 0 10px 0 10px;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;

}

@media only screen and (min-device-width: 320px) and (max-device-width: 468px) {
    
    .container{
        width: 100%;
    }

    header nav a {
        font-size: 12px;
        margin-right: 2px;

    }

    header nav li {
        padding: 0 2px 0 2px;
    }

    header #logo img {
        height: auto;
        width: 8%;
    }

    header nav img {
        width: 15px;
    }

    .admin-content {
        width: 85%;
    }

    form {
        width: 98%;
    }
    .content {
        width: 100%;
        margin-left: 20px;
        margin-top: 60px;
    }

    .content .page-title {
        font-size: 48px;
    }

    .content button {
        font-size: 32px;
        padding: 20px 20px;
    }

    input[type=file] {
        font-size: 32px;
    }
      .quote:after {
        content: "";
        display: table;
        clear: both;
      }
      
      input[type=text], select {
        width: 100%;
        font-size: 32px;
        resize: vertical;
      }

      textarea {
          width: 100%;
          height: 30vh;
          font-size: 34px;
      }
      
      input[type=submit] {
        width: auto;
        float: left;
      }
    
    footer {
        margin-top: 2%;
        height: 2%;
    }
    footer li {
        margin-top: 10px;
    }

    footer a {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
    
    .container{
        width: 100%;
    }


    header {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0px;
        height: 15%;
        /*margin-right: auto;*/
    }
    header nav a {
        font-size: 12px;
        margin-right: auto;

    }

    header nav li {
        padding: 0 4px 0 4px;
    }

    header #logo img {
        height: auto;
        width: 50px;
    }

    header nav img {
        width: 15px;
    }
    .inputs {
        float: left;
        width: 40%;
        margin-top: 6px;
      }
      
      /* Clear floats after the columns */
      .quote:after {
        content: "";
        display: table;
        width: 100%;
      }
      
      input[type=text], select, textarea {
        width: 100%;
        resize: vertical;
      }

    footer {

        padding: 0;
        margin-top: 2%;
        height: 5%;
    }

    footer a {
        font-size: 12px;

    }
}

@media only screen and (min-device-width : 469px) and (max-device-width : 768px){
    .container{
        width: 100%;
    }


    header {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0px;
        height: 10%;
    }


    header nav a {
        font-size: 16px;
        margin-right: auto;

    }

    header nav li {
        
        padding: 0 4px 0 4px;
    }

    header #logo img {
        height: auto;
        width: 50px;
    }

    header nav img {
        width: 15px;
    }

    .content {
        margin-left: 50px;
        margin-top: 60px;
    }

    .content button {
        font-size: 32px;
    }

    input[type=file] {
        font-size: 32px;
    }
    input[type=text], select {
        width: 100%;
        font-size: 28px;
        resize: vertical;
      }

      textarea {
          width: 100%;
          height: 50vh;
          font-size: 28px;
      }


    footer {

        padding: 0;
        margin-top: 2%;
        height: 3%;
    }

    footer a {
        font-size: 12px;

    }
}