body {
    margin: 0;
    font: 15px/1.5 Georgia, 'Times New Roman', Times, serif;
    background: #f0f0f0;
}
.container {
    width: 100%;
    margin: 0 auto;
}
header {
    background: #739FE1;
}
header .menu-btn {
    display: none;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin-left: 20px;
    width: 6%;
    margin-top: 0%;
}

nav {
    float: right;
}

nav ul {
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

nav li {
    display: inline;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}

nav a:hover{
    color: teal;
}

article#main-col .page-title {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 60px;
}
article .button {
    background-color: #739FE1;
    text-decoration: none;
    padding: 8px 10px;
    margin-right: 40px;
    margin-top: -60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

article .button .quote:after {
    content: "";
    display: table;
    clear: both;
    text-decoration: none;
    list-style: none;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    box-sizing: border-box;
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card__image {
    width: 98.6%;
    height: 180px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #739FE1;
    border-right: 2px solid #739FE1;
    border-left: 2px solid #739FE1;
}

.card__content {
    line-height: 1.5;
    font: 15px/1.5 Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid #739FE1;
    border-left: 2px solid #739FE1;
}
.card__content p{
    max-width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #739FE1;
    border-right: 2px solid #739FE1;
    border-left: 2px solid #739FE1;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #000000;
    font: 14px/1.5 Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

footer {
    position: fixed;
    bottom: 0%;
    padding: 1px;
    background: #739FE1;
    text-align: left;
    width: 100%;
    height: 5%;
}

footer li {
    float: left;
    display: inline;
    margin-left: 0px;
    margin-top: -10px;
    padding: 0 10px 0 10px;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;

}
@media screen and (max-width: 1024px) {
    .card {
      width: 40%;
    }

    .container {
        width: 100%;
    }
    header {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0px;
        height: 15%;
        /*margin-right: auto;*/
    }
    header nav a {
        font-size: 12px;
        margin-right: auto;

    }

    header nav li {
        padding: 0 4px 0 4px;
    }

    header #logo img {
        height: auto;
        width: 50px;
    }

    header nav img {
        width: 15px;
    }
  }

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    
    .container{
        width: 100%;
    }

    article .button {
        font-size: 28px;
        margin-top: -80px;
        margin-left: 50px;
    }

    article#main-col .page-title {
        font-size: 38px;
        margin-top: 60px;
    }
    .card{
        width: 85%;
        margin-left: 1%;
        margin-top: 25px;
    }
    .card__image {
        width: 99.5%;
    }
    .card__content {
        font-size: 38px;
    }
    .card__info {
        font-size: 20px;
    }
    .card__link {
        font-size: 28px;
    }

    header nav a {
        font-size: 12px;
        margin-right: auto;

    }

    header #logo img {
        margin-left: 0px;
        width: 6%;
        margin-top: 0%;
    }

    header nav img {
        width: 15px;
    }
    footer {
        position: fixed;
        height: 3%;
    }

    footer a {
        font-size: 12px;
    }
}

@media screen and (min-device-width : 426px) and (max-device-width : 780px){
    .container{
        width: 100%;
    }
    .card{
        width: 40%;
        margin-left: 2.5%;
    }
    .card__image {
        width: 99.5%;
    }
    .card__content {
        font-size: 20px;
    }
    .card__info {
        font-size: 16px;
    }
    .card__link {
        font-size: 16px;
    }

    header {
        height: 15%;
    }

    header nav a {
        font-size: 18px;
        margin-right: auto;

    }

    header #logo img {
        margin-left: 0px;
        width: 6%;
        margin-top: 0%;
    }

    header nav img {
        width: 15px;
    }
    footer {
        position: fixed;
        height: 3%;
    }

    footer a {
        font-size: 12px;
    }
}